:root {
    --type-base-size: 16px;
    --type-base-leading: 1.6;

    --type-family-sans: Helvetica, sans-serif;
    --type-family-serif: Georgia, serif;
    --type-family-mono: Courier, monospace;

    --type-weight-black:    900;
    --type-weight-bold:     700;
    --type-weight-normal:   400;
    --type-weight-light:    300;
    --type-weight-thin:     100;

    --scale-huge:       var(--ms3);
    --scale-xlarge:     var(--ms2);
    --scale-large:      var(--ms1);
    --scale-normal:     var(--ms0);
    --scale-small:      var(--ms-1);
    --scale-xsmall:     var(--ms-2);
    --scale-tiny:       var(--ms-3);
}

.type--sans {
    font-family: var(--type-family-sans);
}

.type--serif {
    font-family: var(--type-family-serif);
}

.type--mono {
    font-family: var(--type-family-mono);
}

/* global type baselines */
body,
html {
    font-size: var(--type-base-size);
    line-height: var(--type-base-leading);
    font-family: var(--type-family-serif);
    color: var(--black);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-feature-settings: 'kern';
    font-kerning: normal;
}

/* bold */
strong {
    font-weight: bold;
}

/* italics */
em {
    font-style: italic;
}

/* headers */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--type-family-sans);
    font-weight: 700;
    margin-bottom: 1rem;
}

h1 {
    font-size: var(--scale-huge);
    line-height: 1em;
}

h2 {
    font-size: var(--scale-xlarge);
    line-height: 1.5em;
}

h3 {
    font-size: var(--scale-large);
    line-height: 1.5em;
}

h4 {
    font-size: var(--scale-normal);
}

h5 {
    font-size: var(--scale-small);
}

h6 {
    font-size: var(--scale-xsmall);
}

/* paragraphs */
p {
    margin-bottom: 1em;
}

/* links */
a {
    color: var(--blue);
}

/* quotes */
blockquote {
    color: var(--gray-dark);
    font-style: italic;
    margin: 1em 0;
    border-left: 3px solid var(--gray-light);
    padding-left: 1em;
}

/* lists */
ul {
    list-style: disc inside;
}

/* code */
code {
    font-family: var(--type-family-mono);
}
